.blur {
    /* Add the blur effect */
    filter: blur(6px);
    -webkit-filter: blur(6px);

    /* Full height */
    /*height: 100%;*/

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card-image{
    height: 300px;
    overflow: hidden;
}